*{
  box-sizing: border-box;
}

body {
            background-image: url("adminWall.jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        /*adminWall.jpg*/